*{
    box-sizing: border-box;
    margin: 0px 100px;
    padding: 0px 100px;
}
body {
    max-width: 100%;
    margin: 0px auto;
}
/*font-family: 'Architects Daughter', cursive;
    font-family: 'Ephesis', cursive;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Roboto', sans-serif;
*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 100px;
}

.delicious {
    font-family: 'Ephesis', cursive;
    font-size: 3em;
    font-weight: bold;
    line-height: 11px;
    margin-right: auto;
    text-align: center;
}

#blog {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 10px;
    color: gray;
}

.main-section{
    margin-top: 20px;
   
}
#pizza{
    z-index: -1;
}
h1 {
    font-family: Roboto;
    font-weight: bolder;
}
h2 {
    font-family: Noto Sans Mono;
    font-size: 8px;
    color: gray;
}
.main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.pg{
    text-indent: 20px;
    font-family: 'Roboto Sans';
    line-height: 30px;
    letter-spacing: 1px;
    font-size: larger;
}
#listBackground {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    z-index: -1;
}
#ing {
    background-image: url(../assets/list-bg.png);
    -moz-column-count: 2;
    -moz-column-gap: 2em;
    -webkit-column-count: 2;
    -webkit-column-gap: 2em;
    column-count: 2;
    column-gap: 2;
    width: 80%;
    margin: auto;
    background-position: center;
    background-size: cover;
    padding: 2%;
    font-size: larger;
    font-family: 'Architects Daughter', cursive;
}

#face {
    line-height: 0;
    margin-left: 150px;
    
}

#about {
    margin: auto;
    max-width: 50%;
}

footer {
    display: flex;
}

#nessa {
    font-family: 'Roboto';
}

#bottomtext {
    text-align: center;
    justify-content: center;
    color: lightgray;
}

#foot {
    display: grid;
    justify-content: center;
}

#fakebutton {
    background-color: rgb(192, 87, 17);
    color: white;
}