*{
    box-sizing: border-box;
    margin: 0px 100px;
    padding: 0px 100px;
}
body {
    max-width: 100%;
    margin: 0px auto;
}

/*font-family: 'Architects Daughter', cursive;
    font-family: 'Ephesis', cursive;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Roboto', sans-serif;
*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 100px;
}

.delicious {
    font-family: 'Ephesis', cursive;
    font-size: 3em;
    font-weight: bold;
    line-height: 11px;
    margin-right: auto;
    text-align: center;
}

#blog {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 10px;
    color: gray;
}

.main-section{
    margin-top: 20px;
   
}
#pizza{
    z-index: -1;
}
h1 {
    font-family: Roboto;
    font-weight: bolder;
}
h2 {
    font-family: Noto Sans Mono;
    font-size: 8px;
    color: gray;
}
.main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.pg{
    text-indent: 20px;
}
#listBackground {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    z-index: -1;
}

    
