*{
    box-sizing: border-box;
    margin: 0px 100px;
    padding: 0px 100px;
}
/*body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}*/

/*font-family: 'Architects Daughter', cursive;
    font-family: 'Ephesis', cursive;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Roboto', sans-serif;
*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 100px;
}

.delicious {
    font-family: 'Ephesis', cursive;
    font-size: 3em;
    font-weight: bold;
    line-height: 11px;
    margin-right: auto;
    text-align: center;
}

#blog {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 10px;
    color: gray;
}

.main-section{
    margin-top: 20px;
   
}
#pizza{
    z-index: -1;
}
h1 {
    font-family: Roboto;
    font-weight: bolder;
}
h2 {
    font-family: Noto Sans Mono;
    font-size: 8px;
    color: gray;
}
.main-logo {
    margin: 30px 100px;
}
#listBackground{
    margin: 30px 100px;
    }
    
